


@font-face {
	font-family: Myriad Pro;    
    font-style: regular;
	src: url(../fonts/Myriad-Pro-Regular.ttf);
	}
body{

  /* For browsers that do not support gradients  
  background: #fff; 
  background: -webkit-linear-gradient(left, #618087 , #fff); 
  background: -o-linear-gradient(right, #618087 , #fff); 
  background: -moz-linear-gradient(right, #618087 , #fff); 
  background: linear-gradient(to right, #618087 , #fff); */
  background: url(../images/bg.jpg) 0 0 no-repeat;
}
* {
margin: 0 !important;
padding: 0;
}

.bg-fundo{    
    position:absolute;
}
.circle{
    margin-top:60px;
     border: solid 30px;   
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
    border-left-color: #84ddd5;
    padding-left:0;
}
.borda{
    border: solid 30px;   
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
    border-left-color: #84ddd5;
    /*position: absolute;*/
}
#menu  ul{
    padding-top:60px;
}
#menu  ul > li {
    margin-left:10px;
}
#menu  ul > li > a{
    padding-left: 0;
    text-decoration-style: none;
    color:#86f0e6;
    font-size:17px;
    font-family: 'Myriad Pro';    
    font-style:regular;
    list-style:none;
    text-transform: uppercase;
    letter-spacing:6px;
     padding-left:10px;
}

#menu  ul > li > a:hover {    
    color:#fff;
    text-transform: uppercase;
    background:none;
    
    
}

#menu  ul > li > a:active {    
    color:#fff;
    text-transform: uppercase;
    background:#84ddd5;
    border-radius:0;
    padding-left:10px;
}
#menu  ul > li > a:focus {    
    color:#fff;
    text-transform: uppercase;
    background:#84ddd5;
    border-radius:0;
    padding-left:10px;
}




#logoana > div > div .circle{
    padding-top:150px;
    padding-bottom:150px;

}

.logo{
    top:-150px;
    position:relative;
}
#conteudo > div > div > .mini-conteudo{
    padding-right:0;
}
#conteudo > div > div > .mini-conteudo >  p{
    padding-left: 0;
    text-decoration-style: none;
    color:#fff;
    font-size:12px;
    font-family: 'Myriad Pro';    
    font-style:regular;
    list-style:none;
    text-transform: uppercase;
    letter-spacing:1px;
    line-height: 20px;
}
#conteudo > div > div > .mini-conteudo > span{
    color:#84ddd5;
   
}
#conteudo > div{
    padding-top:30px;
}
#conteudo  .first{
    border-radius:5px;   
}

#conteudo .mini-bg{
    background-color: #84ddd5;    
    padding-left: 15px;
    padding-right: 0; 
}
#conteudo > div > div .mini-bg > span.img1{     
    background: url("../images/clinica.png") 0 0 no-repeat;
    display: block;
    height: 224px;
    width: 224px;
    position: absolute;
    top: -71px;   
    cursor:pointer;
}

#conteudo > div > div .mini-bg > span.img1:hover{
    cursor:pointer;
    display: block;
    opacity: 1;
    top: -50%;
    transition: top .25s, opacity .5s ease-out;
    z-index: 1000;
    position:absolute;
}

#conteudo > div > div .mini-bg >  .img2{
     background: url("../images/estetica.png") 0 0 no-repeat;
    display: block;
    height: 224px;
    width: 224px;
    position: absolute;
    top: -71px;
    
}
#conteudo > div > div .mini-bg >  .img2:hover{
    cursor:pointer;
    display: block;
    opacity: 1;
    top: -50%;
    transition: top .25s, opacity .5s ease-out;
    z-index: 1000;
    position:absolute;
}
#conteudo > div > div .mini-bg > .img3{
     background: url("../images/cirurgia.png") 0 0 no-repeat;
    display: block;
    height: 224px;
    width: 224px;
    position: absolute;
    top: -71px;
}
#conteudo > div > div .mini-bg > .img3:hover{
    cursor:pointer;
    display: block;
    opacity: 1;
    top: -50%;
    transition: top .25s, opacity .5s ease-out;
    z-index: 1000;
    position:absolute;
}

#conteudo  .mini-bg > .servicos{
      padding-left: 230px;
    padding-top: 56px;
    padding-bottom: 70px;
}
#conteudo > div > div .mini-bg > .servicos > span{
    color:#fff;
    font-size:13,99px;
    font-family: 'Myriad Pro';    
    font-style:regular;        
    text-transform: uppercase;
    letter-spacing:3px;
}
#conteudo .mini-bg  .servicos  p.serv{
    color:#fff;
    font-size:22px !important;
    font-family: 'Myriad Pro';    
    font-style:regular;        
    text-transform: uppercase;
    letter-spacing:10px;

}
#conteudo  .last{
    padding-left:0;
}
#conteudo  .last .servicos  p.serv {
    color:#fff;
    font-size:22px !important;
    font-family: 'Myriad Pro';    
    font-style:regular;        
    text-transform: uppercase;
    letter-spacing:6px;

}



#footer{
    padding-top:50px;
    padding-bottom: 25px;
}

#footer  .social{
    background: url("../images/social.png") 0 0 no-repeat;
    display: block;
    height: 34px;
    width: 179px;
    left: 20px;
   
}
    

 