@font-face {
	font-family: Roboto-Italic;
	src: url('../fonts/Roboto-Italic.ttf');
}
@font-face {
	font-family: Roboto-Light;
	src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
	font-family: BigNoodleTitling;
	src: url('../fonts/big_noodle_titling.ttf');
}
@font-face {
	font-family: Roboto-LightItalic;
	src: url('../fonts/Roboto-LightItalic.ttf');
}
@font-face {
	font-family: glyphicons-halflings-regular;
	src: url('../fonts/glyphicons-halflings-regular.ttf');
}
@font-face {
	font-family: Roboto-Medium;
	src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
	font-family: icon-works-webfont;
	src: url('../fonts/icon-works-webfont.ttf');
}
@font-face {
	font-family: Roboto-MediumItalic;
	src: url('../fonts/Roboto-MediumItalic.ttf');
}
@font-face {
	font-family: Roboto-Black;
	src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
	font-family: Roboto-Regular;
	src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
	font-family: Roboto-BlackItalic;
	src: url('../fonts/Roboto-BlackItalic.ttf');
}
@font-face {
	font-family: Roboto-Thin;
	src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
	font-family: Roboto-Bold;
	src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
	font-family: Roboto-ThinItalic;
	src: url('../fonts/Roboto-ThinItalic.ttf');
}
@font-face {
	font-family: Roboto-BoldItalic;
	src: url('../fonts/Roboto-BoldItalic.ttf');
}
@font-face {
  font-family: 'BentonSans';
  font-style: light;
  font-weight: 300;
  src: local('BentonSans Light'), local('BentonSans-Light'), url(../fonts/BentonSans_Light.otf) format('otf');
}
@font-face {
  font-family: 'BentonSans';
  font-style: normal;
  font-weight: 400;
  src: local('BentonSans Regular'), local('BentonSans-Regular'), url(../fonts/BentonSans_Regular.otf) format('otf');
}
@font-face {
  font-family: 'BentonSans';
  font-style: normal;
  font-weight: 500;
  src: local('BentonSans Medium'), local('BentonSans-Medium'), url(../fonts/BentonSans_Medium.otf) format('otf');
}
@font-face {
  font-family: 'BentonSans';
  font-style: bold;
  font-weight: 700;
  src: local('BentonSans Bold'), local('BentonSans-Bold'), url(../fonts/BentonSans_Bold.otf) format('otf');
}
@font-face {
  font-family: 'icon-worksregular';
  src: url('../vendor/iconworks/icon-works-webfont.eot');
  src: url('../vendor/iconworks/icon-works-webfont.eot?#iefix') format('embedded-opentype'),
  url('../vendor/iconworks/icon-works-webfont.woff') format('woff'),
  url('../vendor/iconworks/icon-works-webfont.ttf') format('truetype'),
  url('../vendor/iconworks/icon-works-webfont.svg#icon-worksregular') format('svg');
  font-weight: normal;
  font-style: normal;
}